In [1]:
import pandas as pd

In [12]:
credit = pd.DataFrame(columns=['credit_id', 'issued_date'])
credit.loc[len(credit)] = ['айдишник кредита', 'Как я понимаю дата выдачи кредита']
credit_calculations = pd.DataFrame(columns=['credit_id', 'calculation_date', 'status'])
credit_calculations.loc[len(credit_calculations)] = ['айдишник кредита', 'Дата статуса', 'статус кредита']

In [16]:
employee = pd.DataFrame(columns=['id', 'hire_date', 'chief_id', 'salary'])
employee.loc[len(employee)] = ['айдишник сотрудника', 'Дата начала работы', 'айдишник начальника', 'ЗП']

### 1. Для каждого кредита, выданного в этом году, вывести количество дней, когда он находился в просрочке. Дано: таблица credit (credit_id, issued_date) и таблица с описанием каждого дня жизни кредита credit_calculations (credit_id, calculation_date, status). Поле status может принимать значения ACTIVE (займ активен), EXPIRED (займ в просрочке) и COMPLETED (займ закрылся, после этого записи в таблице credit_calculations по данному кредиту прекращаются).

In [20]:
display(credit_calculations)

           credit_id calculation_date          status
0  Какой-то айдишник     Дата статуса  статус кредита

In [19]:
display(credit)

           credit_id                        issued_date
0  Какой-то айдишник  Как я понимаю дата выдачи кредита

In [15]:
"""
SELECT cr.credit_id,
       SUM(CASE WHEN calc.status = 'EXPIRED' THEN 1 ELSE 0 END) AS num_days_exp
FROM credit cr
JOIN credit_calculations calc
    ON 1 = 1
    AND cr.credit_id = calc.credit_id
    AND YEAR(cr.issued_date) = YEAR(CURDATE())
GROUP BY cr.credit_id
"""

"\nSELECT cr.credit_id,\n       SUM(CASE WHEN calc.status = 'EXPIRED' THEN 1 ELSE 0 END) AS num_days_exp\nFROM credit cr\nJOIN credit_calculations calc\nON 1 = 1\nAND cr.credit_id = calc.credit_id\nGROUP BY cr.credit_id\n"

### 2. Вывести сотрудников, которые работают в компании дольше, чем их непосредственные начальники. Дано: таблица employee (id, hire_date, chief_id, salary) со списком id сотрудников, их датой приёма на работу, id начальника (такой же сотрудник в таблице) и зарплатой.

In [18]:
display(employee)

                  id           hire_date             chief_id salary
0  Какой-то айдишник  Дата начала работы  айдишник начальника     ЗП

In [ ]:
"""
SELECT emp.id,
       emp.chief_id -- Опционально можно по условию не выводить
FROM employee emp
JOIN employee chief
    ON 1 = 1
    AND emp.chief_id = chief.id
WHERE chief.hire_date > emp.hire_date
"""